body {
  background: #ebeded; }

.container {
  max-width: 1632px;
  display: flex;
  margin: auto;
  flex-wrap: wrap; }

.main--header_one {
  display: inline-flex;
  min-height: 90px;
  background: #ffffff;
  width: 100%; }

.head {
  color: #393e6b; }

a:hover {
  color: #81bdd8; }

a:visited {
  color: #393e6b; }

.head-menu {
  list-style-type: none;
  display: inline-flex; }

.head-menu-nav {
  display: inline-block;
  font-size: 18px;
  margin-right: 37px;
  margin-top: 19px; }
  .head-menu-nav a {
    text-decoration: none; }

.head-phone {
  display: inline-flex;
  float: right;
  margin-top: 25px;
  margin-left: 350px;
  justify-content: flex-end;
  font-size: 18px;
  color: #393e6b; }

.head-phone_life {
  padding-left: 25px; }
  .head-phone_life label {
    padding-left: 5px; }

.head-phone_kyivstar {
  margin-right: 25px; }

.life .kyivstar {
  height: 29px;
  width: 29px;
  padding-top: 5px;
  padding-right: 25px;
  margin-right: 25px; }

.top-logo {
  margin-bottom: 6px;
  margin-top: 20px;
  margin-left: 100px; }

.top-logo_secondary {
  width: 260px; }

.secondary {
  background-image: url(img/23.png);
  background-size: cover;
  display: flex;
  min-height: 846px;
  width: 100%; }

.middle {
  text-align: center;
  margin: auto;
  margin-top: -75px; }

.middle-logo {
  border-bottom: 2px solid #15a4fa;
  padding-bottom: 38px; }

.middle-caption {
  color: #edeff1;
  font-size: 26px; }

.middle-button {
  height: 55px;
  width: 176px;
  border: 2px solid #15a4fa;
  background: #9ba4b3;
  opacity: 0.8;
  margin-top: 68px;
  color: #ffffff; }

.middle-button:hover {
  background: #15a4fa;
  opacity: 0.8;
  border: 2px solid #15a4fa; }

.navigation {
  background: #ffffff;
  position: relative;
  margin-top: -50px;
  min-height: 468px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.navigation-furniture {
  margin-right: 40px;
  margin-left: 40px; }

.nav {
  text-align: center;
  display: flex;
  margin-top: 60px; }
  .nav a {
    text-decoration: none; }
  .nav label {
    color: #a0a0a0; }

.caption {
  text-align: center; }

.gallery {
  background: #ffffff;
  margin-top: 30px;
  width: 100%;
  min-height: 733px;
  margin-bottom: -50px;
  display: flex;
  flex-wrap: wrap; }

.img {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-left: 30px; }

.gallery-img {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-flex; }

.gallery-img:hover {
  background: #15a4fa;
  opacity: 0.5;
  border: none; }

.bottom {
  background-image: url(img/26.png);
  background-size: cover;
  padding-top: 50px;
  color: #ffffff;
  width: 100%; }

input, textarea {
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff; }

textarea {
  width: 800px;
  height: 130px;
  margin-top: 17px; }

.login {
  width: 410px;
  height: 55px; }

.e-mail {
  width: 360px;
  height: 55px;
  margin-left: 26px; }

.send {
  float: right;
  width: 220px;
  height: 55px;
  background: #15a4fa;
  opacity: 0.7;
  font-size: 16px;
  margin-top: 35px; }

.nontype {
  margin-top: 35px; }

.footer {
  width: 580px;
  float: right;
  margin-left: 250px;
  margin-top: 40px; }

table {
  color: #ffffff;
  margin-top: 40px; }

.footer--table_kyivstar, .footer--table_life {
  padding-left: 140px; }

td {
  padding-bottom: 15px; }

@media screen and (max-width:880px) {
  .container {
    width: 860px; } }
