body {
  margin: 0px;
  padding: 0px;
  background: #ebeded; }

.container {
  max-width: 1632px; }

.header {
  margin-bottom: px;
  color: #5a70b2;
  background: #ffffff; }

.header-logo {
  margin-top: 20px; }

.menu {
  list-style-type: none;
  margin: px auto;
  margin-top: 72px;
  font-size: 18px; }

.menu-item {
  margin: 0 25px; }

li {
  list-style-type: none; }

i {
  color: #5b5a5b; }

.header-information {
  font-size: 14px; }

.information-item {
  margin-top: 15px;
  margin-left: 60px; }

.information-item2 {
  margin-left: auto; }

.war {
  margin-left: 17px; }

a {
  color: #5a70b2; }

.middle {
  background-image: url(img/1001.png);
  background-size: cover;
  height: 470px;
  margin-left: 0;
  padding-left: 0; }

.angle {
  color: #fff; }

.left {
  font-size: 80px;
  margin-right: 90px;
  margin-top: 190px; }

.text {
  margin-top: 100px; }

.text-tittle {
  color: #ffffff;
  font-size: 36px; }

.text-second {
  color: #35b3e8;
  font-size: 18px; }

.text-paragraph {
  color: #ffffff; }

.watch {
  margin-left: 250px;
  background: none;
  color: #ffffff;
  border: 2px solid #00deff;
  border-radius: 3px;
  width: 200px;
  cursor: pointer; }

.fiting {
  margin-left: 125px;
  margin-top: 140px; }

.right {
  font-size: 80px;
  margin-top: 190px; }

.search {
  margin-top: 98px; }

.caps {
  color: #5a70b2; }

.search-form {
  width: 500px;
  border: 2px solid #5a70b2;
  height: 50px;
  border-radius: 4px;
  margin-left: auto;
  background: #fff; }

.search-input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 450px;
  vertical-align: middle;
  border-top: px solid #5a70b2;
  height: 45px;
  border-bottom: px solid #5a70b2;
  margin-top: 1px;
  margin-left: 1px; }

.search-submit {
  width: 34px;
  height: 34px;
  border: none;
  background: url(img/6.png) no-repeat 50% 50%;
  margin-top: 7px;
  float: right;
  margin-right: 7px;
  cursor: pointer;
  padding-left: 20px; }

.search-submit:hover {
  border: none; }

.search-submit:click {
  border: none; }

.katalog-tittle {
  width: 100%;
  border-bottom: 5px solid #5a70b2;
  padding-right: 1550px;
  color: #5a70b2;
  font-size: 30px;
  padding-bottom: 15px; }

.small-logo {
  margin-right: 20px; }

.gallery-item {
  width: 380px;
  margin: auto;
  border-bottom: 2px solid #5a70b2;
  margin-top: 40px;
  font-size: 20px;
  color: #5a70b2; }

.gallery-text {
  margin-top: 20px; }
